html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  max-width: 1040px
  background-color: #FAFAFA;
}

h1 {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 28px;  
  color: #000000;
  letter-spacing: 0;
  line-height: 37px;
  margin: 133px 0 0 0;
  text-align: left;
  margin-bottom: 30px;
}

h2 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 16px;  
  color: #000000;
  letter-spacing: 0;
  line-height: 21px;
} 

p {
  margin: 0;
}

.uvod, .CK, .delegati {
  font-family: "Montserrat", serif;
  font-weight: normal;
  font-size: 16px;  
  color: #8B8B8B;
  letter-spacing: 0;
  line-height: 21px;
  max-width: 1040px;
  margin: 80px auto;
}

.uvod {
  max-height: 474px;
  align-content: center;
}

.uvod img {
  float: right;
  overflow: auto;
  max-width: 490px;
  max-height: 352px;
  padding: 0 32px
}

.button {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 14px;  
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  display: flex;
}

.dobrodruzstvi {
  background-color: #407BFF;
  width: 195px;
  padding: 11px 30px;
  margin: 18px;
  border-radius: 50px;
}

.pohoda {
  background-color: #8B8B8B;
  width: 220px;
  padding: 11px 25px;
  margin: 18px;
  border-radius: 50px;
}

.icon {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 13px;  
  color: #8B8B8B;
  background-color: #FFFFFF;
  letter-spacing: 0;
  line-height: 17px;
  width: 170px;
  height: 191px;
  align-content: center;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 6px #407BFF1F;
  margin: 14px;
  padding: 0 15px;
}

.sluzbyCK, .sluzbyDelegatu {
  max-width: 430px;
  max-height: 191px;
  align-content: center;
  padding: 10px;
}

.CK, .delegati {
  display: flex;
}



@media screen and (max-width:640px) {
  h1 {
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px;
  }
  .uvod, .CK, .delegati {
    display: block;
    align-content: center;
    text-align: center;
  }

  .uvod img {
    margin: 10px auto;
  }

  .button, .dobrodruzstvi,.pohoda {
    display: block;
    align-content: center;
    text-align: center;
    margin: 10px auto;
  }

  .icon {
    max-width: 460px;
    min-width: 300px;
    max-height: 80px;
    margin: 20px;
  }
}

@media screen and (max-width:1100px) {
  .uvod {
    display: block;
  }

}